<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sing Up</h1>
        Validateion Eroors


        <form action="" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" class="form-control">
            </div>
            <button type="submit">Sign up</button>
        </form>
        
    </div>
</div>